<div  id="footerSection">
  <div class="container-fluid">
    <div class="row">
      <div class="span3">
        <h5>CUSTOMER SERVICE</h5>
        <a href="login.html">My ACCOUNT</a>
        <a href="login.html">ORDER LIST</a> 
        <a href="login.html">FAQ</a> 
        <a href="login.html">SPECIALS</a>  
        <a href="login.html">HELP CENTER</a>
      </div>
      <div class="span3">
        <h5>CORPORATION</h5>
        <a href="contact.html">ABOUT US</a>  
        <a href="register.html">CUSTOMER SERVICE</a>  
        <a href="legal_notice.html">COMPANY</a>  
        <a href="tac.html">INVESTOR RELATION</a> 
        <a href="faq.html">ADVANCED SEARCH</a>
      </div>
      <div class="span3">
        <h5>OUR OFFERS</h5>
        <a href="#">NEW PRODUCTS</a> 
        <a href="#">TOP SELLERS</a>  
        <a href="special_offer.html">SPECIAL OFFERS</a>  
        <a href="#">MANUFACTURERS</a> 
        <a href="#">SUPPLIERS</a> 
      </div>
      <div class="span2">
        <h5>OUR OFFERS</h5>
        <a href="#">NEW PRODUCTS</a> 
        <a href="#">TOP SELLERS</a>  
        <a href="special_offer.html">SPECIAL OFFERS</a>  
        <a href="#">MANUFACTURERS</a> 
        <a href="#">SUPPLIERS</a> 
      </div>
    </div>
  </div><!-- Container End -->
</div>