
<div class="topnav">
  <a [routerLink]="['/login']" *ngIf="!message">login</a>
  <a [routerLink]="['/register']"  *ngIf="!message">SignUp</a>
  <a (click)="logout()" *ngIf="message">LogOut</a>
  <a class="active" href="">Free List</a>
  <a href="#news">Advertise</a>
  <a href="#contact">Support</a>
  <a href="#about">Offers</a>
</div>
<div id="logoArea" class="navbar navbar-inverse ">
  <div class="navbar-inner">
    <img src="assets/themes/images/logo.png" [routerLink]="['']" alt="Bootsshop"/>
  </div>
</div>
