<div class="container">
  <div style="background-color:lightgray">
    <div class="topnav">
      <a class="active" href="">Free List</a>
      <a href="#news">Advertise</a>
      <a href="#contact">Support</a>
      <a href="#about">Offers</a>
    </div>

    <!-- Navbar ================================================== -->
    <div id="logoArea" class="navbar navbar-inverse ">
      <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-inner">
        <a class="brand" href="index.html">
          <img src="assets/themes/images/logo.png" alt="Bootsshop"/>
        </a>
      </div>
    </div>


    <!-- Header End====================================================================== -->
    <div id="carouselBlk">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="container">
              <a href="register.html"><img style="width:100%" src="assets/themes/images/carousel/1.jpg" alt="special offers"/></a>
              <div class="carousel-caption">
                <h4>Second Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
          </div>
        <div class="item">
          <div class="container">
            <a href="register.html">
              <img style="width:100%" src="assets/themes/images/carousel/2.jpg" alt=""/>
            </a>
            <div class="carousel-caption">
              <h4>Second Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <a href="register.html">
              <img style="width:100%" src="assets/themes/images/carousel/3.jpg" alt=""/>
            </a>
            <div class="carousel-caption">
              <h4>Second Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <a href="register.html">
              <img style="width:100%" src="assets/themes/images/carousel/4.jpg" alt=""/>
            </a>
            <div class="carousel-caption">
              <h4>Second Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div> 
  </div>
  <div id="mainBody">
    <div class="container">
      <div class="row">
        <!-- Sidebar end=============================================== -->
        <div class="span12">		
          <div class="well well-small">
            <h4>Home Delivery <small class="pull-right">200+ deliver products</small></h4>
              <div id="mainBody">
                <div class="container">
                  <div class="row">
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div id="featured" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="item active">
                      <ul class="thumbnails">
                        <li class="span3">
                          <div class="thumbnail">
                            <a href="product_details.html">
                              <img src="assets/themes/images/products/b1.jpeg" alt="">
                            </a>
                            <div class="caption">
                                <h5>Grocery</h5>
                            </div>
                          </div>
                        </li>
                        <li class="span3">
                          <div class="thumbnail">
                            <a href="product_details.html">
                              <img src="assets/themes/images/products/b2.jpeg" alt="">
                            </a>
                            <div class="caption">
                                <h5>Food</h5>
                            </div>
                          </div>
                        </li>
                        <li class="span3">
                          <div class="thumbnail">
                            <a href="product_details.html">
                              <img src="assets/themes/images/products/b3.jpeg" alt="">
                            </a>
                            <div class="caption">
                              <h5>Sweets</h5>
                            </div>
                          </div>
                        </li>
      <li class="span3">
        <div class="thumbnail">
        <a href="product_details.html"><img src="assets/themes/images/products/b4.jpeg" alt=""></a>
        <div class="caption">
            <h5>Pharmacy</h5>
                  </div>
                </div>
              </li>
            </ul>
              </div>
    </div>
  </div>
</div>
</div>
</div>	
<div class="span12">		
  <div class="well well-small">
  <h4>Micro Apps <small class="pull-right">200+ featured products</small></h4>
  <div id="mainBody">
      <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="row-fluid">
  <div id="featured" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/b1.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      
      <a href="product_details.html"><img src="assets/themes/images/products/b2.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/b3.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/b4.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
     <div class="item">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      
      <a href="product_details.html"><img src="assets/themes/images/products/5.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <i class="tag"></i>
      <a href="product_details.html"><img src="assets/themes/images/products/6.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/7.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/8.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
     <div class="item">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/9.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/10.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/11.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/1.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
     <div class="item">
    <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/2.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/3.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
        <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/4.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/5.jpg" alt=""></a>
      <div class="caption">
        <h5>Product name</h5>
         <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
      </div>
      </div>
    </li>
    </ul>
    </div>
    </div>
    <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#featured" data-slide="next">›</a>
    </div>
    </div>
</div>
</div>
<div class="span12">		
<div class="well well-small">
<h4>Home Delivery <small class="pull-right">200+ deliver products</small></h4>
<div id="mainBody">
  <div class="container">
  <div class="row">
  </div>
</div>
</div>
<div class="row-fluid">
<div id="featured" class="carousel slide">
<div class="carousel-inner">
  <div class="item active">
  <ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
    <a href="product_details.html"><img src="assets/themes/images/products/b1.jpeg" alt=""></a>
      <div class="caption">
          <h5>Grocery</h5>
      </div>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
    <a href="product_details.html"><img src="assets/themes/images/products/b2.jpeg" alt=""></a>
    <div class="caption">
        <h5>Food</h5>
      </div>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
    <a href="product_details.html"><img src="assets/themes/images/products/b3.jpeg" alt=""></a>
    <div class="caption">
        <h5>Sweets</h5>
      </div>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
    <a href="product_details.html"><img src="assets/themes/images/products/b4.jpeg" alt=""></a>
    <div class="caption">
        <h5>Pharmacy</h5>
      </div>
    </div>
  </li>
  <li class="span2">
    <div class="thumbnail">
      <a href="product_details.html"><img src="assets/themes/images/products/b4.jpeg" alt=""></a>
      <div class="caption">
          <h5>Pharmacy</h5>
          
        </div>
      </div>

    </li>
    <li class="span2">
    <div class="thumbnail">
    
      <a href="product_details.html"><img src="assets/themes/images/products/b4.jpeg" alt=""></a>
      <div class="caption">
          <h5>Pharmacy</h5>
          
        </div>
      </div>
      
    </li>
</ul>
<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
    
      <a href="product_details.html"><img src="assets/themes/images/products/b2.jpeg" alt=""></a>
      <div class="caption">
          <h5>Food</h5>
          
        </div>
      </div>
      
    </li>
    <li class="span2">
    <div class="thumbnail">
    
      <a href="product_details.html"><img src="assets/themes/images/products/b2.jpeg" alt=""></a>
      <div class="caption">
          <h5>Food</h5>
          
        </div>
      </div>
      
    </li>
    <li class="span2">
    <div class="thumbnail">
    
      <a href="product_details.html"><img src="assets/themes/images/products/b2.jpeg" alt=""></a>
      <div class="caption">
          <h5>Food</h5>
          
        </div>
      </div>
      
    </li>
    <li class="span2">
    <div class="thumbnail">
    
      <a href="product_details.html"><img src="assets/themes/images/products/b2.jpeg" alt=""></a>
      <div class="caption">
          <h5>Food</h5>
          
        </div>
      </div>
      
    </li>
    <li class="span2">
    <div class="thumbnail">
    
      <a href="product_details.html"><img src="assets/themes/images/products/b4.jpeg" alt=""></a>
      <div class="caption">
          <h5>Pharmacy</h5>
          
        </div>
      </div>
      
    </li>
    <li class="span2">
    <div class="thumbnail">
    
      <a href="product_details.html"><img src="assets/themes/images/products/b4.jpeg" alt=""></a>
      <div class="caption">
          <h5>Pharmacy</h5>
          
        </div>
      </div>
      
    </li>
  </ul>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Footer ================================================================== -->
<div  id="footerSection">
<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <h5>CUSTOMER SERVICE</h5>
      <a href="login.html">My ACCOUNT</a>
      <a href="login.html">ORDER LIST</a> 
      <a href="login.html">FAQ</a> 
      <a href="login.html">SPECIALS</a>  
      <a href="login.html">HELP CENTER</a>
     </div>
    <div class="span3">
      <h5>CORPORATION</h5>
      <a href="contact.html">ABOUT US</a>  
      <a href="register.html">CUSTOMER SERVICE</a>  
      <a href="legal_notice.html">COMPANY</a>  
      <a href="tac.html">INVESTOR RELATION</a> 
      <a href="faq.html">ADVANCED SEARCH</a>
     </div>
    <div class="span3">
      <h5>OUR OFFERS</h5>
      <a href="#">NEW PRODUCTS</a> 
      <a href="#">TOP SELLERS</a>  
      <a href="special_offer.html">SPECIAL OFFERS</a>  
      <a href="#">MANUFACTURERS</a> 
      <a href="#">SUPPLIERS</a> 
     </div>
     <div class="span2">
        <h5>OUR OFFERS</h5>
        <a href="#">NEW PRODUCTS</a> 
        <a href="#">TOP SELLERS</a>  
        <a href="special_offer.html">SPECIAL OFFERS</a>  
        <a href="#">MANUFACTURERS</a> 
        <a href="#">SUPPLIERS</a> 
       </div>
   </div>
</div><!-- Container End -->
</div>
</div>
</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
<script src="assets/themes/js/jquery.js" type="text/javascript"></script>
<script src="assets/themes/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/themes/js/google-code-prettify/prettify.js"></script>

<script src="assets/themes/js/bootshop.js"></script>
  <script src="assets/themes/js/jquery.lightbox-0.5.js"></script>

<!-- assets/Themes switcher section ============================================================================================= -->



