<div id="carouselBlk" *ngIf="product">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <img style="width:100%;height:500px;" src={{product.description}} alt="special offers"/>
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs" *ngIf="product">
    <li *ngFor="let category of product.categories; let i= index">
      <a (click)="subCategory(category,i)">{{category.name}}</a>
    </li>
  </ul>
</div>
<br>
<div class="container" *ngIf="subcategories && product">
  <div class="row">
    <div class="span12">
      <div class="col-sm-2">
        <!-- <app-side-nav style="display:inline-block;margin-left:-29px;"></app-side-nav> -->
        <div class="sidenav" style="display:inline-block;margin-left:-29px;">
          <a style="border-bottom: 1px solid #e5e5e5;padding-bottom: 5px;">Category</a>
          <a href="#about">About</a>
          <a href="#services">Services</a>
          <a href="#clients">Clients</a>
          <a href="#contact">Contact</a>
        </div>
        
        <div class="main">
        </div>
      </div>
      <div class="col-sm-10">
        <div class="well well-small" style="margin-right:3%;">
          <ul class="nav nav-tabs">
            <li *ngFor="let sub of product.categories[cindex].sub_categories">
              <a data-toggle="tab" href="#home" (click)="swipe(sub.id)" >{{sub.name}}({{subcategories.length}})</a>
            </li>
          </ul>
          <div class="tab-content" style="display:inline-block;">
            <div id="home" class="tab-pane fade in active">
              <div class="row-fluid" style="margin-left:2%;">
                <div id="featured" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="item active">
                      <ul class="thumbnails">
                        <li class="span3" style="margin-left:0%;margin:5px;" *ngFor="let subcat of subcategories">
                          <div class="thumbnail">
                            <img src={{subcat.cover_image_file}} [routerLink]="['/item']" alt="" width="100%" style="height: 180px;" >
                            <div class="caption">
                                <h5>{{subcat.name}}</h5>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>